{% extends "base.html" %}

{% block title %}
   {{movie.title}}
{% endblock %}

{% block page_css%}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/detail/detail.css" %}"/>
{% endblock %}

{% block content %}
<div class="top-bg"></div>

<div class="container desc">
    <div class="info grid-2c1 clearfix">
        <div class="col-1">
            <div class="pic">
                <img src="{{movie.pic}}" />
            </div>
        </div>

        <div class="col-2">
            <div class="baseinfo">
                <div class="title">
                     {{movie.title}}
                </div>
                <div class="categories">
                     {% for item in movie.categories %}
                     <a href="">{{item}}</a>
                     {% endfor %}
                </div>
            </div>

            <div class="extinfo">
                <div class="extinfo-items">
                    <div class="items">
                        {% if movie.directors %}
                        <div class="item">
                            <span class="field">导演：</span>
                            <span class="value">
                                {% for item in movie.directors %}
                                <a href="">{{item}}</a>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}

                        {% if movie.scripters %}
                        <div class="item">
                            <span class="field">编剧：</span>
                            {% for item in movie.scripters %}
                            <a href="">{{item}}</a>
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% if movie.area %}
                        <div class="item">
                            <span class="field">地区：</span>
                            <a href="">{{movie.area}}</a>
                        </div>
                        {% endif %}

                        {% if movie.first_show %}
                        <div class="item">
                            <span class="field">首映：</span>
                            {{movie.first_show}}
                        </div>
                        {% endif %}

                        {% if movie.language %}
                        <div class="item">
                            <span class="field">语种：</span>
                            <a href="">{{movie.language}}</a>
                        </div>
                        {% endif %}

                        {% if movie.performers %}
                        <div class="item">
                            <span class="field">演员：</span>
                            {% for item in movie.performers %}
                            <a href="">{{item}}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="intro">
                    {{movie.desc}}
                </div>
            </div>
        </div>
    </div>

    <div class="download">
        <h3>以下内容搜索自互联网的资源，仅供学习：</h3>

        <div class="download_title_container clearfix">
        {% for item in movie.download_urls %}
            <span class="download_title{% if forloop.first %} current{% endif %}">
                {{item.title}}
            </span>
        {% endfor %}
        </div>

        {% for item in movie.download_urls  %}
        <ul class="links_container{% if not forloop.first %} hide{% endif %}">
            <li class="control">
                <label>
                    <input type="checkbox" class="check_all"> 全选
                </label>

                <a href=""><i class="fa fa-copy"></i>批量复制链接</a>
            </li>

            {% for link in item.links  %}
               <li>
                   {% if link.e2dk and link.thunder %}
                   <label>
                        <input type="checkbox" class="item_checker"/>
                        {{link.e2dk.text}}
                   </label>

                   <div class="download-btns clearfix">
                       <a href="{{link.thunder.url}}">
                            {% load static %}
                             <img src="{% static "imgs/xunlei.png" %}" alt="迅雷下载"/>
                       </a>

                       <a href="{{link.e2dk.url}}">
                            {% load static %}
                             <img src="{% static "imgs/emule.png" %}" alt="电驴下载"/>
                        </a>
                   </div>
                   {% endif %}

                   {% if link.url %}
                   <label>
                        <input type="checkbox" class="item_checker"/>
                        {{link.text}}
                   </label>

                   <div class="download-btns clearfix">
                       <a href="{{link.url}}">
                             {% load static %}
                             <img src="{% static "imgs/video.png" %}" alt="下载"/>
                       </a>
                   </div>
                   {% endif %}
               </li>
            {% endfor %}

            <li class="control">
                <label>
                    <input type="checkbox" class="check_all"> 全选
                </label>

                <a href=""><i class="fa fa-copy"></i>批量复制链接</a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="comment">
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2140138"></script>
        <!-- UY END -->
   </div>
</div>

{% endblock %}

{% block page_js %}
    {% load static %}
    <script type="text/javascript" src="{% static "scripts/detail/detail.js" %}"></script>
{% endblock %}